@(user: Users)

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="@routes.BlogsController.index">youScene</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
	@if(user == null) {
          <li><a href="@routes.AuthController.entry">新規登録</a></li>
	} else {
          <li><a href="@routes.BlogsController.newBlog">記事を書く</a></li>
          <li><a href="#">@(user.name)(@user.sectionName))</a></li>
	}
      </ul>
    </div>
  </div>
</nav>
